body {
  height: 100vh;
}
.object {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: yellow;
  transform: translate(50%, 50%);
  animation: susiapvalinti;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.object:hover {
  animation-play-state: paused;
}
@keyframes susiapvalinti {
  0% {
    margin: 0%;
  }
  25% {
    margin-top: 0px;
    margin-left: 300px;
  }
  50% {
    margin-left: 300px;
    margin-top: 300px;
  }
  75% {
    margin-left: 0px;
    margin-top: 300px;
  }
  100% {
    margin-left: 0px;
    margin-top: 0px;
  }
}
